.autocomplete {
    position: relative;
    
    .autocomplete-input {
        padding: 8px 10px;
        color: $dark-gray;
        position: relative;
        z-index: 10; 
    }
    
    .autocomplete-suggestions {
        position: absolute;
        padding: 0;
        margin: 0;
        top: 38px;
        left: 0;
        right: 0;
        list-style: none;
    }

    .autocomplete-suggestion {
        padding: 8px 0;
        background: $dirty-white;      

        &:not(:last-of-type) {
            border-bottom: 1px solid $light-gray;
        }

        &:hover, &:active {
            background: $light-gray;
        }
    }
}
