body * {
    font-family: 'Roboto', sans-serif;
}

h1, h2, p {
    margin: 10px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.game-component {
    max-width: 640px;
    padding: 10px;
    margin: 40px auto;
    border: 1px solid lightgray;
    text-align: center;
}

.game-component .game-header {
    margin: 20px 0;
    font-size: 26px;
}

.game-title {
    display: flex;
    align-content: space-around;
    font-size: 22px;
    line-height: 25px;
}

.game-list-item {
    position: relative;
    margin: 20px 10px;
    background: rgba(128, 128, 128, 0.1);
    padding: 10px;
}

.player {
    flex: 4;
    font-size: 19px;
    display: flex;
    justify-content: center;
}

.game-score {
    flex: 1;
}

.player-thumb {
    border-radius: 100px;
    max-width: 25px;
    max-height: 25px;
    flex: 2;
    margin: 0 10px;
}

.game-sets {
    margin: 10px 0;
    font-weight: 700;
}

.game-set:not(:last-of-type) {
    margin-right: 4px;
    border-right: 2px solid gray;
    padding-right: 6px;
}

.delete-icon {
    position: absolute;
    right: 10px;
    top: 30px;
    max-width: 20px;
}